body {
    background-color: rgb(31, 40, 62) !important; 
    color: white !important;
    margin: 0; 
    font-family: Lato,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;      
    }
    
    .heading {
    text-align: center;
    padding: 15px;
    font-size: 35px;
    font-family: Lato,sans-serif;
    background-color: rgb(26, 32, 53);
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333 !important;
    }
    
    li {
    float: left;
    }

    li a {
        display: block;
        color: rgb(255, 255, 255) !important;
        text-align: center !important;
        padding: 14px 16px !important;
        text-decoration: none !important;
    }

    li a:hover {
        background-color: #111 !important;
    }

    .column-4 {
        float: left;
        width: 30%;
        padding: 20px;
        margin: 25px;
        height: 250px;
      }

      .column-5 {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25%;
        padding: 20px;
        margin: 25px;
        height: 250px;
      }
          
      .project-text{
        font-size: 76px;
        text-align: center;
        color: #ffffff;
       
      }

      .eco2Class{
        display: none;
        text-align: center;
        color: #ed1414;

      }

      /*----- added css------- */
      .centered { background: black; margin: 0 auto; width: 80%; }

      .alert-danger {
        color: #ececec !important;
        background-color: #b43737 !important;
        border-color: #ebccd1 !important;
      }

      .alert-warning {
        color: #000000 !important;
        background-color: orange !important;
        border-color: #d6e9c6 !important;
      }

      .alert-low {
        color: white !important;
        background-color: blue !important;
        border-color: #d6e9c6 !important;
      }


      .alert-success {
        color: #dedede !important;
        background-color: #36960e !important;
        border-color: #d6e9c6 !important;
      }

      .row-tiles{
        align-items: center;
        justify-content: center;
        display : flex;
      }

      .refresh{
        display: flex;
        justify-content: center;
      }

      button.refresh{
        color: black;
        margin: 10px
        border-radius: 15px;
        margin: 10px;
      }

      .settings{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  
    