body {
    background-color: rgb(31, 40, 62);
    color: white;
    margin: 0; 
    font-family: Lato,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;      
    }
    
    .heading {
    text-align: center;
    padding: 15px;
    font-size: 35px;
    font-family: Lato,sans-serif;
    background-color: rgb(26, 32, 53);
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    .grid-container {
      display: grid;
      /* grid-template-columns: auto auto auto; */
      gap: 50px 5px;
    }

    .item1 {
      grid-column-start: 1;
      grid-column-end: 6;
    }

    .submit_button {
      display: flex;
      justify-content: center;
    }

    .button {
      display: flex;
      justify-content: center;
      /*background-color: #4CAF50; */
      /*border: none;*/
      color: black;
      padding: 14px 40px;
      text-align: center;
      text-decoration: none;
      /*display: inline-block;*/
      font-size: 1.3rem;
      margin: 50px 4px;
      cursor: pointer;
    }

    .alert {
      display: flex;
      justify-content: center;
    }

    button.refresh{
      color: black;
      margin: 10px
      border-radius: 15px;
    }

  






      
