{% extends "base.html" %}

{% block content %}
<h1> Hi, {{user.username}} !</h1>
<form method="POST" action="/post_user">
    <label>this</label>
    <input id  = "timestamp" name ="timestamp" type="text">

    <label>this</label>
    <input id  = "js_timestamp" name ="js_timestamp" type="text">

    <label>this</label>
    <input id  = "temp" name ="temp" type="text">

    <label>this</label>
    <input id  = "humidity" name ="humidity" type="text">

    <label>this</label>
    <input id  = "particles" name ="particles" type="text">

    <label>this</label>
    <input id  = "eco2" name ="eco2" type="text">

    <label>this</label>
    <input id  = "tvoc" name ="tvoc" type="text">

    <input type="submit">

</form>

{% endblock %}