<!DOCTYPE html>
<html>
    
  <head>
      
    <meta charset="utf-8"> 
      
    <title>Dashboard</title>      

    <link rel="stylesheet" href="{{url_for('static', filename='styles/main__single.css')}}">
    <script src="{{url_for('static', filename='styles/main__single.js')}}"></script>

      
  </head>
        
  <body>   
      
    <div class='heading'>Internet Of Things&#10;CO2 Sensor
    </div>          
    
    <div style="position: sticky; top: 0; z-index: 4;">   
      
      <ul>  
        <li><a  onclick="Dashboard()">Dashboard</a></li>
        <li><a  onclick="Temperature()">Temperature</a></li>
        <li><a  onclick="Humidity()">Humidity</a></li>
        <li><a  onclick="CO2()">CO2</a></li>
        <li><a  onclick="Particles()">Particles</a></li>
        <li><a  onclick="Dust()">Dust</a></li>
        <li style="float: right;"><a  onclick="Settings()">Settings</a></li>
      </ul> 

    </div>
    
    <div id="main_text" class="slide_div">

      <div class="content_block">

        <h2 class="content_header">Settings</h2>


      </div>

      <div class="content_block">

        <h2 class="content_header">Dashboard</h2>


      </div>


      <div class="content_block">
        <h2 class="content_header">Temperature</h2>
        <p class="content">(left blank)</p>
      </div>

      <div class="content_block">
       
        <h2 class="content_header">Humidity</h2>
       
      </div>

      <div class="content_block">

        <h2 class="content_header">CO2</h2>

      </div>

      <div class="content_block">

        <h2 class="content_header">Particles</h2>

      </div>

      <div class="content_block">

        <h2 class="content_header">Dust</h2>

      </div>

    </div>

  </body>
</html>