<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">			
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">

            <ul class="nav nav-primary">
                <li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Level</p>
                        
                    </a>
                </li>
                <li class="nav-item {% if 'layout' in segment %} active {% endif %}">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Graphs</p>
                        
                    </a>
                </li>
               
                <li class="mx-4 mt-2">
                    <a target="_blank"
                       href="https://appseed.us/admin-dashboards/flask-dashboard-atlantis-dark-pro" 
                       class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>Download Air Quality</a> 
                </li>
            </ul>
       
        </div>
    </div>
</div>
<!-- End Sidebar -->